@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
}

@layer components {
  .badge {
    @apply px-4 py-1.5 rounded-full text-sm font-medium border;
  }

  .th {
    @apply px-3 py-1.5;
  }
}
